.colonna{
    width: 100%;
    padding: 10px;
    height: 550px; /* Should be removed. Only for demonstration */
    display: flex;
    align-items: center;
}
.colonna a {
    text-align: center; /* Center align text horizontally */
    width: 100%; /* Expand the <a> tag to fill its parent column */
}
#colonna1{
    background: url('/database/diego-mobile.jpg');
    background-size: cover;

}
#colonna2{
    background: url('/database/stefano-mobile.jpg');
    background-size: cover;
}
#colonna3{
    background: url('/database/luigi.jpg');
    background-size: cover;
}
a {
    font-family: Serif;
    font-size: 100px;
    text-decoration: none;
    color: yellow;
}