
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>aggiungi2</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
  <script type="text/javascript" th:src="@{/src/cassa.js}"></script>
  <script type="text/javascript" th:src="@{/src/scripts.js}"></script>
  <script type="text/javascript" th:src="@{/src/appCassa.js}"></script>

</head>
<body>
Nascondi menu <input type="checkBox" onchange="HideMenu()"/>
<div id="menu">
    Nome:<input type="text" id="nome" name="nomeTav"/> <br/>
    Numero Tavolo:<input type="number" id="num" name="numTav"/> <br/>
    Numero Persone:<input type="number" id="persone" name="persTav"/> <br/>
    <select name="cameriere" id="cameriere">
      <option th:each="c:${camerieri}" th:text="${c.getValore()}" th:value="${c.getValore().replaceAll('-\d+','')}"></option>
    </select>
    <div th:each="piatto:${piatti}">
        <input type="text" readonly th:value="${piatto}" style="border:none;">
        Quantit&agrave:<input type="checkbox" th:id="${piatto.replaceAll(' ','_')}" onchange="prova(this.id)"/>
        <input type="number" th:id="'quanta_'+${piatto.replaceAll(' ','_')}" style="visibility:hidden"/>
        Note:<input type="checkbox" th:id="${piatto.replaceAll(' ','_')}" onchange="note(this.id)"/>
        <input type="text" th:id="'note_'+${piatto.replaceAll(' ','_')}" style="visibility:hidden"/>
    </div>

   <button id="sendMessage" onclick="sendPrivateMessage();">Send</button>
</div>
<div>
    Stampa ordini in corso: <button id="request" onclick="sendPrivateMessage2();">Print</button>
</div>
<div id="messages"></div>
</body>
</html>