<!--

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>aggiungi</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
  <script type="text/javascript" th:src="@{/src/cassa.js}"></script>
  <script type="text/javascript" th:src="@{/src/app2.js}"></script>

    &lt;!&ndash;  <script type="text/javascript" src="/src/cassa.js"></script>&ndash;&gt;
</head>
<body>
Nascondi menu <input type="checkBox" onchange="HideMenu()"/>
<div id="menu">
    <div th:object="${comanda}" >
        <input type="text" id="nome" th:field="*{nomeTavolo}"/> <br/>
        <input type="number" id="num" th:field="*{numeroTavolo}"/> <br/>
        <input type="number" id="persone" th:field="*{persone}"/> <br/>
        <select th:field="*{cameriere}">
            <option th:each="c:${camerieri}" th:text="${c}" th:value="${c}"></option>
        </select>
        </select>
        Pasta <input type="checkbox" id="Pasta" onchange="prova(this.id)"/>
       <input type="number" id="quantaPasta" th:field="*{piatti}" style="visibility:hidden"/> <br/>
        Carne <input type="checkbox" id="Carne" onchange="prova(this.id)"/>
        <input type="number" id="quantaCarne" th:field="*{piatti}" style="visibility:hidden"/> <br/>
        <button id="sendMessage" onclick="sendMessage();">Send</button>
    </div>
</div>
</body>
</html>-->
