<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Dato</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
  <script type="text/javascript" th:src="@{/src/scripts.js}"></script>
  <script type="text/javascript" th:src="@{/src/app2.js}"></script>
  <link rel="stylesheet" type="text/css" href="/css/ordini.css"/>



</head>
<body>
<div class="container my-2" align="center">
  <div id="cameriere" th:text="${dati.getNome()}"></div>
  <table style="width:80%; border:10px" id="Title">
    <tr>
      <td style="width:15%">Stato</td>
      <td style="width:15%">Numero Persone</td>
      <td style="width:15%">Numero Tavolo</td>
      <td style="width:15%">Nome Tavolo</td>
      <td style="width:40%">Ordine</td>
    </tr>
  </table>
  <table style="width:80%; border:1px" id="tabella">
      <tr th:each="ordine:${dati.getOrdini()}">
        <td style="width:15%"><img src="/database/inCorso.jpg" th:class="${ordine.getNomeTavolo()}+${ordine.getCameriere().getNome()}+cross" onclick="changeStatus(this.className)"/> <img src="/database/spunta-verde.png" style="visibility: hidden " th:class="${ordine.getNomeTavolo()}+${ordine.getCameriere().getNome()}+tic" onclick="changeStatus(this.className)"/></td>
        <td th:text="${ordine.getPersone()}" style="width:15%"></td>
        <td th:text="${ordine.getNumeroTavolo()}" style="width:15%"></td>
        <td th:text="${ordine.getNomeTavolo()}" style="width:20%"></td>
        <td style="width:40%">
          <table>
            <tr th:each="piatti:${ordine.getOrdine()}">
              <td onclick="hide(this.className)" th:text="${piatti.getNome()}" th:class="${ordine.getCameriere().getNome()}+${ordine.getNomeTavolo()}+${piatti.getNome()}"></td>
              <td onclick="hide(this.className)" th:text="${piatti.getQuantity()}" th:class="${ordine.getCameriere().getNome()}+${ordine.getNomeTavolo()}+${piatti.getNome()}"></td>
              <td onclick="hide(this.className)" th:text="${piatti.getNote()}" th:class="${ordine.getCameriere().getNome()}+${ordine.getNomeTavolo()}+${piatti.getNome()}"></td>
            </tr>
          </table>
        </td>
      </tr>
  </table>
</div>
<div id="messages">
</div>
</body>
</html>