<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Dato</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
  <script type="text/javascript" th:src="@{/src/scripts.js}"></script>
  <script type="text/javascript" th:src="@{/src/app2.js}"></script>
<!--  <script src="/webjars/sockjs-client/sockjs.min.js"></script>-->
<!--  <script src="/webjars/stomp-websocket/stomp.min.js"></script>-->

<!--  <script src="../static/src/app.js"></script>-->


</head>
<body>
<div class="container my-2" align="center">
  <div id="cameriere" th:text="${dati.getNome()}"></div>

  <table style="width:80%" border="1"
         class = "table table-striped table-responsive-md"
         id="tabella">
      <tr th:each="ordine:${dati.getOrdini()}">
        <td th:text="${ordine.getPersone()}"></td>
        <td th:text="${ordine.getNumeroTavolo()}"></td>
        <td th:text="${ordine.getNomeTavolo()}"></td>
        <td>
          <table>
            <tr th:each="piatti:${ordine.getOrdine()}">
            <td th:text="${piatti.getNome()}"></td>
            <td th:text="${piatti.getQuantity()}"></td>
            </tr>
          </table>
        </td>
      </tr>
  </table>
</div>
<div id="messages">
</div>
</body>
</html>