<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>registra</title>
  <script type="text/javascript" th:src="@{/src/scripts.js}"></script>
  <script type="text/javascript" th:src="@{/src/appRegistra.js}"></script>
</head>
<body>
    <h1>Registrazione</h1>
    Username: <input type="text" id="username" />
    Password: <input type="text" id="password" />
    <button type="submit" onclick="sendPrivateMessage();">Registra</button>

<div id="messages"> </div>
</body>
</html>